.headerLogo {
  display: inline-block;
  height: 32px;
  width: 120px;
  margin: 0 25px 0 32px;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}
.logo{
  outline: 0;
}
