
.locFilters {
  display: flex;
  flex-direction: row;
  padding: 0px 8px 0px 7px;
}

.locFilter{
 /* text-decoration: none;
  text-transform: none;
  font-weight: 400;
  color: rgb(119, 119, 119);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 20px;
  height: 35px;
  -moz-box-align: center;
  align-items: center;
  */
  outline: 0;
  border-radius: 18px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  color: rgb(119, 119, 119);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border: 1px solid rgb(228, 232, 240);
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.activeLocFilters{
  outline: 0;
  border-radius: 18px;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  color: rgb(119, 119, 119);
  background: rgb(255, 255, 100) none repeat scroll 0% 0%;
  border: 1px solid rgb(228, 232, 240);
  &:hover {
    background-color: red;
  }

}

.locLabel{
  line-height: 35px;
  letter-spacing: 0.5px;
  padding: 0px 12px;
  font-size: 12.8px;
  transition: all 0.3s ease-out 0s;
}
